<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuration</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="general_render">
    <div id="svg-render" [innerHTML]="generateSvgService.prova">
      
    </div>
    <hr/>

    <div class="input-holder">
      <label>Size: 
          <div 
              class="holePositionLabel" 
              id="input-size-label"
              
              >
                  {{ generateSvgService.size_input }}
          </div>
          <br>
          <input 
              type="range" 
              min="10" 
              max="50" 
              value="25" 
              id="input-size" 
              class="holePosition"
              [(ngModel)]="generateSvgService.size_input" 
              (ngModelChange)="changeDivSize('input-size-label')"
              >
        </label>
    </div>
    
    <div class="input-holder">
        <label>X hole position: 
            <div class="holePositionLabel" id="holePositionXLabel">{{ generateSvgService.input_hole_x }}</div>
            <br>
            <input 
                type="range" 
                min="-40" 
                max="50" 
                value="-7" 
                id="holePositionX" 
                class="holePosition"
                [(ngModel)]="generateSvgService.input_hole_x" 
                (ngModelChange)="changeDivSize('holePositionXLabel')"
                >
        </label>
    </div>
    
    <div class="input-holder">
        <label>Y hole position: 
            <div class="holePositionLabel" id="holePositionYLabel">{{ generateSvgService.input_hole_y }}</div>
            <br>
            <input 
                type="range" 
                min="0" 
                max="50" 
                value="17" 
                id="holePositionY" 
                class="holePosition"
                [(ngModel)]="generateSvgService.input_hole_y" 
                (ngModelChange)="changeDivSize('holePositionYLabel')"
                >
        </label>
    </div>
    
    <div class="input-holder">
        <label>Outline Margin: 
            <div class="holePositionLabel" id="outlineMarginLabel">{{ generateSvgService.input_outline }}</div>
            <br>
            <input 
                type="range" 
                min="2" 
                max="10" 
                value="3" 
                id="outlineMargin" 
                class="holePosition"
                [(ngModel)]="generateSvgService.input_outline" 
                (ngModelChange)="changeDivSize('outlineMarginLabel')"
                >
        </label>
    </div>

    <ion-button expand="full" routerLink="/configuration3" id="nextButton">Next</ion-button>
  </div>
</ion-content>
